$font: "Microsoft JhengHei", "微軟正黑體", sans-serif;
$font-title: helvetica, arial, sans-serif;

$color-primary: teal;
$color-primary-light: #f7fafa;
$color-primary-input: #ddeced;

$color-text: #666;
$color-light: #bbb;
$color-placeholder: #cdcdcd;

$color-line: #eee;

$color-danger: #ca5454;
$color-danger-light: #f7f0f0;
$color-danger-light-hover: #f7eaea;

$shadow: 0 0 2rem rgba(0, 0, 0, 0.16);
